@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");
:export .bold {
  font-weight: bold;
}
:export .gray {
  color: dimgray;
}

/*heritage class*/
.max-width-container, .section-restaurants__subcontainer, body .section-menu {
  margin: auto;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
}

h3, p {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.gray {
  color: dimgray;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
body header {
  box-shadow: 0 5px 10px lightgrey;
}
body header h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  color: #101010;
  font-size: 30px;
  font-weight: 400;
}
body header .header__logo {
  background-image: url(../images/logo.png);
}
body .nav-bar {
  text-align: center;
}
body .nav-bar .container-location {
  height: 50px;
  background-color: #EAEAEA;
  width: 100%;
  font-size: 1.3rem;
  align-items: center;
  display: flex;
  gap: 17px;
  justify-content: center;
}
body .nav-bar .container-location .fa-location-dot {
  color: #353535;
}
body .nav-bar .container-location span {
  border: none;
  font-size: 1.3rem;
  background-color: #EAEAEA;
  color: #353535;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  word-wrap: break-word;
}
body .nav-bar .container-location span:focus {
  outline-color: darkgray;
}
body .nav-bar .container-explore {
  background-color: #F6F6F6;
  padding: 38px;
}
body .nav-bar .container-explore .subtitle {
  margin-bottom: 3rem;
}
body .font-xl {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body .font-lg {
  margin: 0px 0px 27px 0px;
  text-align: center;
  /* Paragraph */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
body .btn-purple {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  width: 218px;
  height: 50px;
  top: 50px;
  border-radius: 25px;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
  cursor: pointer;
  /* Shadow/Button */
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  /* Button */
  margin: 0 0 58px 0;
  border: 0;
  transition: 0.2s;
}
body .btn-purple p {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  white-space: nowrap;
  display: flex;
  width: 180.495px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: auto;
}
body .btn-purple:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}
body .section-menu__title {
  margin-top: 0;
}
body .section-menu__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 64rem) {
  body .section-menu__steps {
    display: flex;
  }
}
body .section-menu.menu-choice {
  margin: 0;
}
@media (min-width: 64rem) {
  body .section-menu.menu-choice {
    flex: 1;
    margin: 0;
    margin-left: 2rem;
  }
  body .section-menu.menu-choice:first-child {
    margin-left: 0.75rem;
  }
}
body .section-menu.menu-choice:first-child {
  margin-top: 0;
}
body .section-menu.menu-choice:last-child {
  margin-bottom: 0;
}
body .section-menu__icon {
  margin-right: 1rem;
  color: #7E7E7E;
}
body ol {
  margin: 0 !important;
  padding-inline-start: 0;
  gap: 31px;
}
body ol .menu__li {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
body ol .menu__li span {
  background-color: #9356dc;
  height: 24px;
  width: 24px;
  border-radius: 60%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  left: -10px;
  color: #F6F6F6;
}
body .card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-shadow: 2px 4px 15px #dedede;
  border-radius: 18px;
  transition: 1000ms ease-in-out;
}
body .card-title {
  color: black;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
  text-decoration: none;
  padding: 0;
}
body .card-subtitle {
  color: black;
  font-size: 17px;
  font-family: Roboto;
  font-weight: 300;
  word-wrap: break-word;
}
body .no-style {
  text-decoration: none;
}
body .description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  background-color: white;
  border-radius: 0px 0px 18px 18px;
}

.new-badge {
  position: absolute;
  color: #278870;
  background: #99e2d0;
  text-align: center;
  width: 80px;
  padding: 5px;
  top: 4%;
  right: 4%;
  margin: 0px;
}

.section-restaurants {
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F6F6F6;
}

.card-img {
  height: 174px;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}

.layout {
  flex: 1;
}

/*Likes*/
.svg-container {
  position: relative;
  margin-right: 25px;
  height: 22px;
}

.btn-heart {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  font-size: 22px;
  height: 22px;
}

/* Cacher le deuxième SVG par défaut */
.btn-heart-solid {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: -o-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Au survol du conteneur, faire apparaître le deuxième SVG et masquer le premier */
.svg-container:hover .btn-heart {
  opacity: 0;
}

.svg-container:hover .btn-heart-solid {
  opacity: 1;
}

/*FOOTER*/
footer {
  background-color: #353535;
  padding: 30px 20px;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
}

.section-restaurants__subcontainer .section-restaurants__subcontainer_cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

@media screen and (max-width: 768px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
}
@media screen and (min-width: 769px) {
  .card {
    flex: 45%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
    box-shadow: 0 0 0 1px black;
    margin-bottom: 10px;
  }
  .footer__list {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: end;
    align-items: center;
  }
  .footer__links {
    order: 1; /* Move the links to the left */
  }
  .footer__logo {
    order: 2; /* Move the logo to the last */
    margin-left: 50px;
  }
  .font-xl {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 40px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media screen and (min-width: 1024px) {
  ol {
    display: flex;
  }
  ol .menu__li {
    flex: 1;
    margin: 0 0 0 2rem;
  }
  .section-restaurants__subcontainer_cards-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .menu__header {
    margin: auto;
    width: 300px;
  }
}
.text-white {
  color: #FFFFFF;
}

li > i {
  margin-right: 10px;
}

li > i {
  color: #7E7E7E;
}

.menu__li__p {
  color: #000000;
  font-weight: 500;
}

h2 {
  padding: 0;
  margin-bottom: 28px;
}

/*RESTAURANTS*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header .backLink {
  position: absolute;
  color: #353535;
  font-size: 18px;
  left: 0;
}
header .backLink i {
  color: #353535;
  margin-left: 17px;
  cursor: pointer;
  align-items: center;
  font-size: 32px;
}

.banner_hero img {
  object-fit: cover;
  width: 100%;
  max-height: 30rem;
  height: 260px;
}

.menu_container {
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -50px;
  padding: 50px 20px;
  max-width: 1055px;
  margin-right: auto;
  margin-left: auto;
}

.banner img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.banner img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .banner img {
    height: 260px;
  }
}

.menu {
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  position: relative;
  margin-top: -50px;
}
.menu__header {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #101010;
}
.menu__icon {
  font-size: 24px;
  margin-right: 20px;
}
.menu__lists {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.menu__list {
  margin: 30px 0 0 0;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .menu__list {
    margin: 20px 0 0 0;
  }
}
.menu__list:first-child {
  margin-left: 0;
}
.menu__list h3 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin: 20px 0 22px 6px;
}
.menu__list h3:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  top: 24px;
}
.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0 8px 0;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  padding: 12px 22px 12px 10px;
  margin-bottom: 14px;
  animation: menu-list 1s ease both;
  overflow: hidden;
  position: relative;
}
.list:nth-child(1) {
  animation-delay: 0.3s;
}
.list:nth-child(2) {
  animation-delay: 0.6s;
}
.list:nth-child(3) {
  animation-delay: 0.9s;
}
.list:nth-child(4) {
  animation-delay: 1.2s;
}
.list:nth-child(5) {
  animation-delay: 1.5s;
}
.list:nth-child(6) {
  animation-delay: 1.8s;
}
.list:nth-child(7) {
  animation-delay: 2.1s;
}
.list:nth-child(8) {
  animation-delay: 2.4s;
}
.list:nth-child(9) {
  animation-delay: 2.7s;
}
.list:nth-child(10) {
  animation-delay: 3s;
}
.list__content, .list__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list__title {
  margin: 0 0 4px 0;
  font-size: 18px;
}
.list__subtitle {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.list__price {
  font-weight: 700;
  font-size: 14px;
  color: #353535;
  transition: 0.5s ease-in-out;
  margin-left: 15px;
}
.list__validate {
  position: absolute;
  background-color: #99E2D0;
  color: #fff;
  font-size: 20px;
  padding: 22.5px 20px;
  border-radius: 0 15px 15px 0;
  right: 0;
  top: 0px;
  transform: translateX(60px);
  transition: 0.5s ease-in-out;
}
.list__icon {
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.list:hover {
  cursor: pointer;
}
.list:hover .list__price {
  margin-right: 60px;
}
.list:hover .list__validate {
  transform: translateX(0);
  top: 0px;
}
.list:hover .list__icon {
  transform: rotate(360deg);
}